@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

h1 {
  margin: 4%;
}

.gameGrid {
  display: grid;
  grid-template-columns: repeat(25, 20px);
  margin-top: 2%;
  background-color: white;
}

.buttonsDiv {
  display: flex;
  justify-content: space-evenly;
}

button {
  font-family: 'Press Start 2P', cursive;
  height: 30px;
}

.rules {
  text-align: left;
  line-height: 2;
}
